WAZUH_VERSION=4.14.3
WAZUH_IMAGE_VERSION=4.14.3
WAZUH_TAG_REVISION=1
FILEBEAT_TEMPLATE_BRANCH=4.14.3
WAZUH_FILEBEAT_MODULE=wazuh-filebeat-0.5.tar.gz
WAZUH_UI_REVISION=1
INDEXER_PASSWORD=CHANGE_ME_INDEXER_PASSWORD
API_PASSWORD=CHANGE_ME_API_PASSWORD
DASHBOARD_PASSWORD=CHANGE_ME_DASHBOARD_PASSWORD
