TZ=UTC
WAZUH_MANAGER_IP=192.168.1.3
WAZUH_MANAGER_PORT=1514
WAZUH_AGENT_NAME=ubuntu-soc

SURICATA_EVE_PATH=/var/log/suricata/eve.json
COWRIE_BASE_PATH=/opt/cowrie
COWRIE_LOG_PATH=/opt/cowrie/var/log/cowrie/cowrie.json
COWRIE_SSH_PORT=2222

PROMETHEUS_PORT=9091
ALERTMANAGER_PORT=9094
GRAFANA_PORT=3001
NODE_EXPORTER_PORT=9100
SOC_EXPORTER_PORT=9150

PROMETHEUS_IMAGE=prom/prometheus@sha256:4a61322ac1103a0e3aea2a61ef1718422a48fa046441f299d71e660a3bc71ae9
ALERTMANAGER_IMAGE=prom/alertmanager@sha256:88b605de9aba0410775c1eb3438f951115054e0d307f23f274a4c705f51630c1
PYTHON_IMAGE=python@sha256:7747d47f92cfca63a6e2b50275e23dba8407c30d8ae929a88ddd49a5d3f2d331
NODE_EXPORTER_IMAGE=prom/node-exporter:latest
GRAFANA_IMAGE=grafana/grafana-oss:latest
COWRIE_IMAGE=cowrie/cowrie:latest

PROMETHEUS_MEMORY_LIMIT=256m
ALERTMANAGER_MEMORY_LIMIT=128m
GRAFANA_MEMORY_LIMIT=256m
NODE_EXPORTER_MEMORY_LIMIT=64m
SOC_EXPORTER_MEMORY_LIMIT=128m
COWRIE_MEMORY_LIMIT=256m

SMTP_SMARTHOST=
SMTP_FROM=
SMTP_AUTH_USERNAME=
SMTP_AUTH_PASSWORD=
ALERT_EMAIL_TO=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

OPENCTI_PORT=8080
OPENCTI_EXTERNAL_SCHEME=http
OPENCTI_ADMIN_EMAIL=admin@opencti.local
OPENCTI_ADMIN_PASSWORD=ChangeMe_Immediately
OPENCTI_ADMIN_TOKEN=00000000-0000-4000-8000-000000000001
OPENCTI_HEALTHCHECK_ACCESS_KEY=change-me
OPENCTI_ENCRYPTION_KEY=ChangeMeWithGeneratedBase64Key
MINIO_ROOT_USER=opencti
MINIO_ROOT_PASSWORD=change-me
RABBITMQ_DEFAULT_USER=opencti
RABBITMQ_DEFAULT_PASS=change-me
ELASTIC_MEMORY_SIZE=512m
OPENCTI_NODE_HEAP_MB=384
OPENCTI_MEMORY_LIMIT=768m
OPENCTI_WORKER_MEMORY_LIMIT=512m
OPENCTI_REDIS_MEMORY_LIMIT=128m
OPENCTI_RABBITMQ_MEMORY_LIMIT=256m
OPENCTI_MINIO_MEMORY_LIMIT=256m
OPENCTI_ELASTIC_MEMORY_LIMIT=768m
